# Python / Flask Backend
venv/
__pycache__/
*.py[cod]
*.pyo
*.log
.env
transformers_cache/
*.pt
.pytest_cache/
.ipynb_checkpoints/

# Node / React Frontend
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# macOS System Files
.DS_Store
